* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #faebe0;
    padding-bottom: 80px;

}

/* NAVIGATION */
.navbar {
    width: 100%;
    background: #5f1823;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover {
    text-decoration: underline;
}

span{
    color: white;
}

/* CARD */
.card {
    max-width: 97%;
    background: white;
    margin: 25px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Foto profil + bingkai */
.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-header img {
    margin-top: 10px;
    margin-left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 5px;        /* biar agak rounded */
    object-fit: cover;          /* foto tidak gepeng */
    border: 3px solid #5f1823;  /* warna pastel bingkai */
}

.profile-info h2,
.profile-info p {
    margin: 2px 0;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
div.title{
    text-align: left;
    padding-left: 20px;
    color: #5f1823;
    margin-top: 50px;
}

h3, h2, h4{
    color: #5f1823;
}

/* FORM */
form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #b99da4;
}

.form-row {
    display: flex;
    flex-wrap: wrap;     /* supaya bisa turun kalau layar kecil */
    gap: 15px;           /* jarak antar input */
}

.form-row > div {
    flex: 1;             /* biar semua kotak sejajar */
    min-width: 200px;    /* batas supaya tidak terlalu kecil */
}

button {
    padding: 10px 18px;
    background: #5f1823;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #2a0f0f;
}

.btn-nav {
    margin-left: 20px;      /* supaya tidak mepet kiri */
    padding: 10px 18px;     /* biar konsisten */
    background: #5f1823;
    border-radius: 8px;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

/* RESULT */
.result-box {
    font-size: 18px;
    padding: 12px;
    background: #ffefe7;
    border-left: 4px solid #5f1823;
    margin-top: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    color: #5f1823;
}

/* Saat layarnya kecil (HP), otomatis jadi ke bawah */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .form-row input,
    .form-row select {
        width: 100%; /* Biar penuh dan rapi */
    
    }
}

